body {
	margin: 0;
	font-family: "Manrope", sans-serif;

	font-size: 15px;
	
}

@font-face {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  src: url(../--1/static/Manrope-Bold.ttf);
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url(../--1/static/Manrope-Bold.otf);
}

@font-face {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  src: url(../--1/static/Manrope-Medium.ttf);
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url(../--1/static/Manrope-Medium.otf);
}

@font-face {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  src: url(../--1/static/Manrope-Regular.ttf);
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url(../--1/static/Manrope-Regular.otf);
}

@font-face {
  font-family: 'Manrope', sans-serif;
  font-weight: 900;
  src: url(../--1/static/Manrope-ExtraBold.ttf);
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url(../--1/static/Manrope-ExtraBold.otf);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	border: 0;
	margin: 50px 0px;
	background-color: #e5e5e5;
}

.menuLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  .LogoLine {
    border: 1px solid rgba(63, 63, 63, 0.2);
    width: 26px;
    height: 0px;
    background: #3f3f3f;
    transform: rotate(-90deg);
  }

  span {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3f3f3f;
  }
}


